/* FlexBox */
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
.logoImg_box, #temporary,
#finished, .cardLineBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.timer_box, .topSec, #gamingArea, .singleCardBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.score_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  font-family: 'Press Start 2P', cursive;
  overflow-y: hidden; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  width: 100%;
  height: 100vh;
  background: url("../img/bg.svg") no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: 0; }

nav {
  width: 100%;
  height: 100px; }
  nav ul {
    -webkit-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0; }
    nav ul li {
      display: inline-block;
      width: calc(100%/3);
      list-style-type: none;
      height: 100%; }

.logoImg_box img {
  max-width: 300px;
  width: 100%; }

.timer_box {
  -webkit-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: white;
  font-size: 1.3rem; }
  .timer_box span {
    display: inline-block;
    margin: 0 10px; }
    .timer_box span a {
      display: inline-block; }
      .timer_box span a img {
        width: 50px; }

.score_box {
  height: 100%;
  -webkit-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: white; }
  .score_box span {
    display: inline-block; }

.scoreIcon {
  height: 50px; }
  .scoreIcon img {
    height: 100%; }

.scoreLabel {
  height: 50px;
  font-size: 1.3rem;
  line-height: 3.45rem;
  margin: 0 80px 0 10px; }

.main {
  position: absolute;
  top: 100px;
  z-index: 4;
  width: 100%;
  height: calc(100vh - 130px); }

.topSec {
  -webkit-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  max-width: 1400px;
  width: 90%;
  margin: auto; }

#temporary,
#finished {
  -webkit-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 50%;
  height: 175px;
  padding: 0 20px; }

#gamingArea {
  -webkit-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  max-width: 1400px;
  width: 90%;
  margin: auto;
  height: calc(100% - 160px); }

.cardLineBox {
  -webkit-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 50%;
  height: 100%;
  padding: 30px 20px 0 20px; }

.cardLine {
  position: relative;
  max-width: 130px;
  width: calc(100% / 4);
  height: 100%;
  margin-right: 20px; }

.cardBox {
  position: absolute;
  height: 175px;
  left: 0;
  width: 100%;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }
  .cardBox img {
    max-width: 130px;
    width: 100%;
    max-height: 175px; }

.singleCardBox {
  position: relative;
  max-width: 130px;
  width: calc(100% / 4);
  height: 100%;
  max-height: 175px;
  min-height: 150px;
  margin-right: 20px;
  border-radius: 15px;
  border: 2px solid #685F59; }

.singleCardIcon {
  width: 45px;
  opacity: 0.1; }

.bgicon_left,
.bgicon_left_behind {
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: 1;
  opacity: 0.8; }

.bgicon_left_behind {
  left: 15%;
  z-index: 0;
  -webkit-filter: brightness(0.6); }

.bgicon_center {
  width: 300px;
  left: calc(50% - 150px);
  position: absolute;
  bottom: -50px;
  z-index: 2; }

.bgicon_right,
.bgicon_right_behind {
  position: absolute;
  bottom: -2px;
  right: 0;
  z-index: 1;
  opacity: 0.8; }

.bgicon_right_behind {
  right: 15%;
  z-index: 0;
  -webkit-filter: brightness(0.6); }
