/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* FlexBox */
.logoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.mobileMenu, .works_moreButtonBox, .about__contentBox, .about__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.menu, .menu__mobileButton a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.navContainer, .footer_container, .works__itemBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

/*media queries*/
@font-face {
  font-family: 'Noto Sans TC', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,700&display=swap"); }

@font-face {
  font-family: 'Press Start 2P', cursive;
  src: url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; }

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  font-family: 'Nunito', sans-serif;
  background-color: #12123A;
  overflow-x: hidden; }

.locked {
  max-height: 100vh;
  overflow: hidden; }

/* LOADER */
.loader {
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: #12123A; }
  .loader img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    -webkit-animation-name: loader;
    animation-name: loader;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.loadBox {
  width: 100%;
  height: auto;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease; }

.topSpace {
  margin-top: 100px; }

/* ScrollBar */
/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #7F8DFD; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #BBC3FC; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #BBC3FC; }

/*Page Setting*/
.wrapper {
  width: 100%;
  height: auto;
  min-height: calc(100vh - 200px);
  padding: 100px 0 100px 0; }
  @media (max-width: 749px) {
    .wrapper {
      padding: 100px 0 60px 0; } }

.pageTitle {
  width: 100%;
  padding: 50px 0;
  font-size: 3rem;
  color: #DD46F0;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 700; }
  @media (max-width: 749px) {
    .pageTitle {
      font-size: 1.7rem;
      padding: 30px 0; } }

/* SECTION */
.sectionTitle {
  width: 100%;
  text-align: center;
  color: #2DE0C7;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.2rem;
  margin: 50px 0; }
  @media (max-width: 749px) {
    .sectionTitle {
      font-size: 1rem; } }

nav {
  width: 100%;
  height: 150px;
  position: fixed;
  left: 0;
  z-index: 10;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease; }
  @media (max-width: 749px) {
    nav {
      height: 100px; } }

.nav--hide {
  top: -150px; }

.nav--slideDown {
  top: 0px; }

.nav--scrollStyle {
  background-color: #0d0d29;
  height: 100px; }

.navContainer {
  width: 80%;
  height: 100%;
  margin: auto;
  -webkit-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media (min-width: 750px) and (max-width: 969px) {
    .navContainer {
      width: 85%; } }
  @media (max-width: 749px) {
    .navContainer {
      width: 85%; } }

.logoBox {
  width: 300px;
  height: 100%;
  -webkit-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-decoration: none;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease; }
  .logoBox:hover {
    opacity: 0.8; }

.logoBox__logo {
  width: 50px; }
  .logoBox__logo img {
    width: 100%; }

.logoBox__siteName {
  width: auto;
  margin-left: 15px; }

.siteName {
  color: white;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.1rem; }
  @media (max-width: 749px) {
    .siteName {
      font-size: 1rem; } }

.jobTitle {
  color: #F6F6F6;
  font-size: 0.8rem;
  margin-top: 7px;
  font-weight: bold;
  letter-spacing: 2px; }
  @media (max-width: 749px) {
    .jobTitle {
      font-size: 0.7rem; } }

.menu {
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.menu__item {
  margin-left: 30px;
  letter-spacing: 2px;
  font-weight: 700; }
  @media (min-width: 750px) and (max-width: 969px) {
    .menu__item {
      display: none; } }
  @media (max-width: 749px) {
    .menu__item {
      display: none; } }
  .menu__item a {
    color: #E8F94B;
    text-decoration: none;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    padding-bottom: 3px;
    border-bottom: 2px solid rgba(221, 70, 240, 0); }
    .menu__item a:hover {
      color: #DD46F0;
      border-bottom: 2px solid #dd46f0; }

.menu__item--active a {
  color: #DD46F0;
  border-bottom: 2px solid #DD46F0; }

.menu__mobileButton {
  width: 50px;
  height: 50px;
  text-decoration: none;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  display: none; }
  .menu__mobileButton a {
    width: 100%;
    height: 100%; }
    .menu__mobileButton a img {
      float: right;
      width: 80%; }
  @media (min-width: 750px) and (max-width: 969px) {
    .menu__mobileButton {
      display: inline-block; } }
  @media (max-width: 749px) {
    .menu__mobileButton {
      display: inline-block;
      width: 35px; } }

/* MOBILE NAV SLIDE */
.nav__mobile {
  width: 100%;
  height: 100%;
  background-color: #260747;
  position: fixed;
  z-index: 12;
  right: -100vw;
  top: 0; }

.mobileMenu {
  width: 100%;
  height: 100%;
  padding: 0;
  -webkit-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.mobileMenu__item {
  width: 100%;
  text-align: center;
  margin: 10px 0; }
  .mobileMenu__item a {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #E8F94B; }
    @media (max-width: 749px) {
      .mobileMenu__item a {
        font-size: 1rem;
        padding: 15px 0; } }
    .mobileMenu__item a img {
      width: 30px; }
      @media (max-width: 749px) {
        .mobileMenu__item a img {
          width: 25px; } }
    .mobileMenu__item a:active {
      color: #DD46F0; }

.mobileMenu__item--active a {
  color: #DD46F0; }

/*FOOTER*/
footer {
  width: 100%;
  height: 200px; }
  @media (max-width: 749px) {
    footer {
      height: auto;
      padding: 0 0 50px 0; } }

.footer_container {
  -webkit-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 80%;
  margin: auto; }
  @media (min-width: 750px) and (max-width: 969px) {
    .footer_container {
      width: 85%; } }
  @media (max-width: 749px) {
    .footer_container {
      width: 85%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.footer__listBox {
  padding: 0; }
  .footer__listBox li {
    padding: 10px;
    color: #DD46F0;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: 700; }
    .footer__listBox li a {
      color: #DD46F0;
      text-decoration: none;
      letter-spacing: 2px;
      font-size: 0.8rem;
      font-weight: 700;
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease; }
      .footer__listBox li a:hover {
        color: #E8F94B; }
  @media (max-width: 749px) {
    .footer__listBox {
      width: 100%;
      margin: 20px 0 0 0; } }

.footer__siteName {
  color: #DD46F0; }

.footer__jobTitle {
  color: #7D18E9; }

.toTopButton {
  width: 60px;
  position: fixed;
  right: 30px;
  top: -100px;
  -webkit-animation: 1s ufoSide ease infinite alternate;
  animation: 1s ufoSide ease infinite alternate;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  -webkit-transition: 2s ease;
  -o-transition: 2s ease;
  transition: 2s ease; }
  .toTopButton:hover {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg); }
  .toTopButton img {
    width: 100%; }

.toTopButton--show {
  top: 90%;
  right: 30px; }

@-webkit-keyframes ufoSide {
  0% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg); }
  100% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg); } }

@keyframes ufoSide {
  0% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg); }
  100% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg); } }

/* HEADER SECTION*/
header {
  width: 100%;
  height: 100vh;
  position: relative; }

#sky {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0; }

.skyBlackBg {
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #1b123a;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, rgba(18, 18, 58, 0.4)), color-stop(49%, rgba(18, 18, 58, 0.6)), to(#12123a));
  background: -webkit-linear-gradient(top, rgba(18, 18, 58, 0.4) 31%, rgba(18, 18, 58, 0.6) 49%, #12123a 100%);
  background: -o-linear-gradient(top, rgba(18, 18, 58, 0.4) 31%, rgba(18, 18, 58, 0.6) 49%, #12123a 100%);
  background: linear-gradient(180deg, rgba(18, 18, 58, 0.4) 31%, rgba(18, 18, 58, 0.6) 49%, #12123a 100%); }

#planetA {
  width: 130px;
  position: absolute;
  right: 15%;
  top: 20%; }
  @media (min-width: 750px) and (max-width: 969px) {
    #planetA {
      right: 5%; } }
  @media (max-width: 749px) {
    #planetA {
      width: 80px;
      top: 25%;
      right: -5%; } }

#planetB {
  width: 100px;
  position: absolute;
  left: 35%;
  top: 15%; }
  @media (max-width: 749px) {
    #planetB {
      width: 60px;
      top: 20%;
      display: none; } }

#planetC {
  width: 70px;
  position: absolute;
  right: 35%;
  bottom: 14%; }
  @media (max-width: 749px) {
    #planetC {
      right: 25%; } }

#ufoA {
  width: 40px;
  position: absolute;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  top: 18%;
  left: 10%;
  -webkit-animation: 6s ufoAaction ease-in-out infinite alternate;
  animation: 6s ufoAaction ease-in-out infinite alternate; }

@-webkit-keyframes ufoAaction {
  0% {
    -webkit-transform: rotate(9deg);
    transform: rotate(9deg);
    top: 30%;
    left: 15%; }
  50% {
    top: 20%;
    left: 20%; }
  100% {
    top: 15%;
    left: 10%;
    -webkit-transform: rotate(-9deg);
    transform: rotate(-9deg); } }

@keyframes ufoAaction {
  0% {
    -webkit-transform: rotate(9deg);
    transform: rotate(9deg);
    top: 30%;
    left: 15%; }
  50% {
    top: 20%;
    left: 20%; }
  100% {
    top: 15%;
    left: 10%;
    -webkit-transform: rotate(-9deg);
    transform: rotate(-9deg); } }

#ufoB {
  width: 50px;
  position: absolute;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  top: -10%;
  left: 0%;
  -webkit-animation: 10s ufoBaction ease-in-out 5s infinite;
  animation: 10s ufoBaction ease-in-out 5s infinite; }

@-webkit-keyframes ufoBaction {
  0% {
    top: -10%;
    left: 0%; }
  100% {
    top: 120%;
    left: 120%; } }

@keyframes ufoBaction {
  0% {
    top: -10%;
    left: 0%; }
  100% {
    top: 120%;
    left: 120%; } }

#ufoC {
  width: 60px;
  position: absolute;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  -webkit-animation: 3s ufoCaction ease-in-out infinite alternate;
  animation: 3s ufoCaction ease-in-out infinite alternate; }
  @media (min-width: 750px) and (max-width: 969px) {
    #ufoC {
      -webkit-animation: 3s ufoCaction_mobile ease-in-out infinite alternate;
      animation: 3s ufoCaction_mobile ease-in-out infinite alternate; } }
  @media (max-width: 749px) {
    #ufoC {
      -webkit-animation: 3s ufoCaction_mobile ease-in-out infinite alternate;
      animation: 3s ufoCaction_mobile ease-in-out infinite alternate; } }

@-webkit-keyframes ufoCaction {
  0% {
    top: 15%;
    right: 30%; }
  100% {
    top: 20%;
    right: 35%; } }

@keyframes ufoCaction {
  0% {
    top: 15%;
    right: 30%; }
  100% {
    top: 20%;
    right: 35%; } }

@-webkit-keyframes ufoCaction_mobile {
  0% {
    top: 50%;
    right: 3%; }
  100% {
    top: 55%;
    right: 8%; } }

@keyframes ufoCaction_mobile {
  0% {
    top: 50%;
    right: 3%; }
  100% {
    top: 55%;
    right: 8%; } }

.header__container {
  width: 80%;
  margin: auto;
  height: 100%;
  -webkit-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (max-width: 749px) {
    .header__container {
      width: 85%; } }

.header__title {
  width: 100%;
  color: white;
  font-size: 3.5rem;
  letter-spacing: 2px;
  line-height: 1.5;
  font-weight: bold;
  word-wrap: break-word; }
  @media (min-width: 750px) and (max-width: 969px) {
    .header__title {
      font-size: 3rem; } }
  @media (max-width: 749px) {
    .header__title {
      font-size: 1.7rem; } }

.header__subTitle {
  width: 100%;
  color: #DD46F0;
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin-top: 25px;
  font-weight: bold; }
  @media (min-width: 750px) and (max-width: 969px) {
    .header__subTitle {
      font-size: 2.3rem; } }
  @media (max-width: 749px) {
    .header__subTitle {
      font-size: 1.4rem; } }

.header__downButton {
  position: absolute;
  bottom: 80px;
  width: 50px;
  height: 50px;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  -webkit-animation: 2s arrowSlide ease 2s infinite;
  animation: 2s arrowSlide ease 2s infinite; }
  .header__downButton img {
    width: 100%; }
  @media (max-width: 749px) {
    .header__downButton {
      width: 35px;
      height: 35px; } }
  .header__downButton:hover {
    opacity: 0.6; }

@-webkit-keyframes arrowSlide {
  from {
    bottom: 120px; }
  to {
    bottom: 80px; } }

@keyframes arrowSlide {
  from {
    bottom: 120px; }
  to {
    bottom: 80px; } }

/* WORKS*/
.works {
  width: 80%;
  margin: auto;
  padding: 20px 0 0 0; }
  @media (min-width: 750px) and (max-width: 969px) {
    .works {
      width: 85%; } }
  @media (max-width: 749px) {
    .works {
      width: 85%; } }

.works__itemBox {
  -webkit-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 0; }

.works__item {
  width: calc(100% / 3.3); }
  @media (min-width: 750px) and (max-width: 969px) {
    .works__item {
      width: calc(100% / 2.1); } }
  @media (max-width: 749px) {
    .works__item {
      width: calc(100%); } }
  .works__item a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    margin-bottom: 60px; }
    .works__item a:hover {
      opacity: 0.8; }
    @media (max-width: 749px) {
      .works__item a {
        margin-bottom: 40px; } }

.works__imageBox {
  width: 100%;
  position: relative; }
  .works__imageBox img {
    width: 100%;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease; }

.works__itemTitle {
  color: #DD46F0;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 25px 0 15px 0;
  line-height: 1.5;
  word-wrap: break-word;
  word-break: break-all; }
  @media (max-width: 749px) {
    .works__itemTitle {
      font-size: 0.8rem;
      padding: 10px 0 5px 0; } }

.works__skills {
  width: 100%;
  color: #F6F6F6;
  letter-spacing: 2px;
  line-height: 1.5; }
  @media (max-width: 749px) {
    .works__skills {
      font-size: 0.7rem; } }

.works_itemDate {
  width: 100%;
  color: #EA80FF;
  padding: 15px 0;
  letter-spacing: 2px; }
  @media (max-width: 749px) {
    .works_itemDate {
      font-size: 0.7rem;
      padding: 10px 0; } }

.works_moreButtonBox {
  width: 100%;
  height: 80px; }
  .works_moreButtonBox a {
    padding: 15px 60px;
    text-decoration: none;
    color: #E8F94B;
    border: 1px solid #E8F94B;
    border-radius: 6px;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 0.8rem;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease; }
    .works_moreButtonBox a:hover {
      color: #DD46F0;
      font-weight: 700;
      border: 1px solid #E8F94B;
      background-color: #E8F94B; }

/*ABOUT*/
.about {
  width: 80%;
  margin: 200px auto; }
  @media (min-width: 750px) and (max-width: 969px) {
    .about {
      width: 85%;
      margin: 150px auto; } }
  @media (max-width: 749px) {
    .about {
      width: 85%;
      margin: 100px auto; } }

.about__contentBox {
  -webkit-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 30px; }
  @media (min-width: 750px) and (max-width: 969px) {
    .about__contentBox {
      padding-left: 20px; } }
  @media (max-width: 749px) {
    .about__contentBox {
      -webkit-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.about__photo,
.about__description {
  width: 50%; }
  @media (max-width: 749px) {
    .about__photo,
    .about__description {
      width: 100%; } }

@media (min-width: 750px) and (max-width: 969px) {
  .about__description {
    padding-left: 20px; } }

@media (max-width: 749px) {
  .about__description {
    width: 100%;
    margin-top: 25px; } }

.about__photo img {
  max-width: 350px;
  width: 95%; }
  @media (max-width: 749px) {
    .about__photo img {
      width: 100%; } }

.about__name,
.about__nameTW {
  width: 100%;
  text-align: left;
  color: #7F8DFD; }

.about__name {
  letter-spacing: 2px;
  font-weight: 700; }

.about__nameTW {
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 4px;
  margin: 8px 0; }

.about__selfIntro {
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 3px;
  font-weight: 300;
  color: #BBC3FC;
  line-height: 1.8;
  margin: 20px 0;
  word-wrap: break-word;
  word-break: break-all; }
  @media (max-width: 749px) {
    .about__selfIntro {
      font-size: 0.9rem; } }

.about_moreButtonBox {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  color: #E8F94B;
  border: 1px solid #E8F94B;
  border-radius: 6px;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 0.5rem;
  margin-top: 5px;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease; }
  .about_moreButtonBox:hover {
    color: #DD46F0;
    font-weight: 700;
    border: 1px solid #E8F94B;
    background-color: #E8F94B; }
