<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="viewport" content="viewport-fit=cover">
    <meta name="title" content="To-do List | NIKITA L">
    <meta name="description" content="Hello traveler, I'm a front-end developer, welcome to visit my planet !">
    <meta name="keywords" content="ABOUT,about,FRONT-END DEVELOPER,Front-end,Developer,coding,website,website developer,前端工程師,前端開發,NIKITA
        L,呂昕儒">
    <meta name="copyright" content="To-do List | NIKITA L">
    <meta property="og:title" content="To-do List | NIKITA L">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://nikitaplanet.me/static/about.html">
    <!-- <meta property="og:image" content="https://www.photounc.com/img/header.jpg"> -->
    <meta property="og:description" content="Hello traveler, welcome to visit my planet !">
    <meta property="og:site_name" content=">To-do List | NIKITA L">
    <link rel="shortcut icon" href="../../source/img/icons/favi.ico">
    <title>To-do List | NIKITA L</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <link rel="stylesheet" href="css/all.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144242740-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-144242740-1');
    </script>
</head>

<body>
    <div class="wrapper" id="app">
        <div class="box">
            <div class="title">待辦事項</div>
            <div class="typeBox">
                <input type="text" placeholder="輸入待辦事項..." @keyup.enter="addTodo" v-model="newTodo">
                <button type="button" @click="addTodo">新增</button>
            </div>
            <div class="switchBox">
                <button type="button" :class="{'active':visibility == 'all'}" @click="visibility = 'all'">全部</button>
                <button type="button" :class="{'active':visibility == 'active'}"
                    @click="visibility = 'active'">進行中</button>
                <button type="button" :class="{'active':visibility == 'completed'}"
                    @click="visibility = 'completed'">已完成</button>
            </div>
            <div class="listBox">
                <ul>
                    <li v-for="(item,key) in filteredTodos" @dblclick="editTodo(item)">
                        <div v-if="item.id !== cacheTodo.id">
                            {{key + 1 }}.
                            <input type="checkbox" class="checkButton" v-model="item.completed" :id="item.id">
                            <label class="listField" :class="{'completed':item.completed}" :for="item.id">
                                {{item.title}}
                            </label>
                            <button type="button" class="deleteButton" @click="removeTodo(item)">&times;</button>
                        </div>
                        <input type="text" class="editField" @keyup.enter="doneEdit(item)" @keyup.esc="cancelEdit()"
                            v-model="cacheTitle" v-if="item.id === cacheTodo.id">
                    </li>
                </ul>
            </div>
        </div>
        <div class="outerBox">
            <div class="allData">還有{{ countTodos }}未完成</div>
            <button type="button" @click="removeAllTodo">清除所有事項</button>
        </div>
    </div>
</body>
<script src="js/all.js"></script>

</html>