<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="viewport" content="viewport-fit=cover">
    <meta name="title" content="POMODORO | NIKITA L">
    <meta name="description" content="使用 Vue.js 建置蕃茄鐘應用。">
    <meta name="keywords"
        content="Pomodoro,FRONT-END DEVELOPER,Front-end,Developer,coding,website,website developer,蕃茄鐘,前端工程師,前端開發,NIKITA L,呂昕儒">
    <meta name="copyright" content="POMODORO | NIKITA L">
    <meta property="og:title" content="POMODORO | NIKITA L">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://nikitaplanet.me/portfolio/pomodoro/pomodoro.html">
    <meta property="og:image" content="https://nikitaplanet.me/source/img/works_cover/pomodoro.png">
    <meta property="og:description" content="使用 Vue.js 建置蕃茄鐘應用。">
    <meta property="og:site_name" content="POMODORO | NIKITA L">
    <link rel="shortcut icon" href="../../source/img/icons/favi.ico">
    <link rel="stylesheet" href="css/all.css">
    <title>POMODORO | NIKITA L</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/all.css">
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>

<body>
    <div class="wrapper" id="app">
        <div class="section section_lightBg">
            <div class="control_container leftControl">
                <div class="leftControl_content">
                    <div class="input_container">
                        <input class="addField" type="text" placeholder="ADD A NEW MISSION..." @keyup.enter="addTodo"
                            v-model="newTodo">
                        <button type="button" class="addBtn" @click="addTodo"><i class="material-icons">
                                add
                            </i>
                        </button>
                    </div>
                    <div class="timer_container">
                        <div class="timer_conunterBox">
                            <div class="currentTodoBox" v-if="!noData">
                                <div class="checkBox currentCheckBox">
                                    <input type="radio" name="radio" class="radioCheck" @click="completeCurrentTodo">
                                    <span class="checkmark"></span>
                                </div>
                                <div class="currentTextBox">
                                    <label>{{setCurrentTodo}}</label>
                                    <div class="progressTomatoBox">
                                        <ul>
                                            <li v-for="(item,key) in tomatos" v-if="key < 5"
                                                :class="{'breakTomato':item.break}">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="counter">{{clock}}</div>
                        </div>
                        <div class="timer_circleBox">
                            <div class="clock">
                                <svg class="progress" width="120" height="120" viewBox="0 0 120 120">
                                    <circle class="defaultCircle" cx="60" cy="60" r="54" stroke-width="8" />
                                    <circle class="leftbackCircle" cx="60" cy="60" r="54" fill="none"
                                        stroke-width="6" />
                                    <circle class="rightbackCircle" cx="60" cy="60" r="54" fill="none"
                                        stroke-width="6" />
                                    <circle class="progressValue" cx="60" cy="60" r="54" stroke-width="6" />
                                </svg>
                                <a href="#" class="playTimerBtn" :class="{'playTimerBtnHide':timerStart}"
                                    @click.prevent="setTime"><img src="img/playWhiteIcon.svg" alt="palyCounter"></a>
                                <a href="#" class="stopTimerBtn" :class="{'stopTimerBtnHide':!timerStart}"
                                    @click.prevent="stopTime"><img src="img/stopIcon.svg" alt="stopCounter"></a>
                                <a href="#" class="endTimerBtn" :class="{'endTimerBtnRed':timerStart}"
                                    @click.prevent="clearTimer"></a>
                            </div>
                        </div>
                    </div>
                    <div class="previewTodos_container">
                        <ul>
                            <div class="noDataLabel" v-if="noData">Create some missions...</div>
                            <li class="previewTodo" v-for="(item,key) in activeTodos" v-if="key <= 2">
                                <div class="checkBox smallCheckBox">
                                    <input type="checkbox" name="radio" class="radioCheck" v-model="item.completed"
                                        :id="item.id">
                                    <span class="checkmark" :class="{'checkedCheckMark':item.completed}"></span>
                                </div>
                                <div class="previewTodoTitle"
                                    :class="{'todoCompletedLine':item.completed,'currentTodoColored':item.isCurrentTodo}">
                                    {{item.title}}</div>
                                <div class="playPreviewTodo"><a href="#" @click.prevent="runTodo(item)"><img
                                            src="img/play.svg" alt="play icon"></a>
                                </div>
                                <div class="playPreviewTodo"><a href="#" @click.prevent="deleteTodo(item)"><img
                                            src="img/delete.svg" alt="delete icon"></a>
                                </div>
                            </li>
                        </ul>
                        <button class="seeAllTodos" v-if="moreData" @click.prevent="openFoldedTodo">{{moreNum}}
                            MORE</button>
                    </div>
                </div>
            </div>
            <div class="control_container rightControl">
                <div class="menuicon_container">
                    <ul>
                        <li><a href="#" @click.prevent="openFoldedTodo"><img src="img/list.svg" alt="list"></a></li>
                        <!-- <li><a href="#"><img src="img/analytics.svg" alt="analytics"></a></li>
                        <li><a href="#"><img src="img/music.svg" alt="music"></a></li> -->
                    </ul>
                    <div class="webLabel">POMODORO</div>
                </div>
            </div>
        </div>
        <div class="section allTodoSec">
            <div class="allTodoSec__menu">
                <ul>
                    <li><a href="#" class="menuItem--active"><img src="img/list.svg" alt="list">TO-DO LIST</a></li>
                    <!-- <li><a href="#"><img src="img/analytics.svg" alt="analytics">ANALYTICS</a></li>
                    <li><a href="#"><img src="img/music.svg" alt="music">RINGTONES</a></li> -->
                </ul>
                <div class="thumb_countDown">
                    <div class="thumb_countDown_container">
                        <div class="thumb_clock">
                            <svg class="progress" width="120" height="120" viewBox="0 0 120 120">
                                <circle class="defaultCircleB" cx="60" cy="60" r="54" stroke-width="8" />
                                <circle class="leftbackCircle" cx="60" cy="60" r="54" fill="none" stroke-width="6" />
                                <circle class="rightbackCircle" cx="60" cy="60" r="54" fill="none" stroke-width="6" />
                                <circle class="progressValueB" cx="60" cy="60" r="54" stroke-width="6" />
                            </svg>
                            <a href="#" class="playTimerBtn" :class="{'playTimerBtnHide':timerStart}"
                                @click.prevent="setTime"><img src="img/playWhiteIcon.svg" alt="palyCounter"></a>
                            <a href="#" class="stopTimerBtn" :class="{'stopTimerBtnHide':!timerStart}"
                                @click.prevent="stopTime"><img src="img/stopIcon.svg" alt="stopCounter"></a>
                            <a href="#" class="endTimerBtn" :class="{'endTimerBtnRed':timerStart}"
                                @click.prevent="clearTimer"></a>
                        </div>
                        <div class="thumb_circle">
                            <div class="thumb_counter">{{clock}}</div>
                            <div class="thumb_currentTodo">{{setCurrentTodo}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="allTodoSec_todoList">
                <div class="input_container allTodoSec_inputContainer">
                    <input class="addField" type="text" placeholder="ADD A NEW MISSION..." @keyup.enter="addTodo"
                        v-model="newTodo">
                    <button type="button" class="addBtn" @click="addTodo"><i class="material-icons">
                            add
                        </i>
                    </button>
                </div>
                <div class="allTodoSec_todoBox">
                    <a href="#" class="allTodoSec_toggleBtn" @click.prevent="toggleAllTodo">TO-DO<i
                            class="material-icons" id="toggleBtnIcon">
                            arrow_drop_up
                        </i></a>
                    <ul class="allTodo_container">
                        <div class="noDataLabel allTodoSec_noDataLabel" v-if="noData">Create some missions...</div>
                        <li class="allTodo" v-for="(item,key) in activeTodos">
                            <div class="allTodo_checkBox smallCheckBox">
                                <input type="checkbox" name="radio" class="allTodo_radioCheck" v-model="item.completed"
                                    :id="item.id">
                                <span class="allTodo_checkmark"
                                    :class="{'allTodo_checkedCheckMark':item.completed}"></span>
                            </div>
                            <div class="allTodoTitle" :class="{'todoCompletedLine':item.completed}">
                                {{item.title}}</div>
                            <div class="playPreviewTodo"><a href="#" @click.prevent="runTodo(item)"><img
                                        src="img/playWhiteIcon.svg" alt="play icon"></a>
                            </div>
                            <div class="playPreviewTodo"><a href="#" @click.prevent="deleteTodo(item)"><img
                                        src="img/delete_w.svg" alt="delete icon"></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="allTodoSec_doneBox">
                    <a href="#" class="allTodoSec_toggleBtn" @click.prevent="toggleDone">DONE<i class="material-icons"
                            id="toggleDoneBtnIcon">
                            arrow_drop_down
                        </i></a>
                    <ul class="doneTodo_container">
                        <li class="allTodo" v-for="(item,key) in doneTodos">
                            <div class="allTodo_checkBox smallCheckBox">
                                <input type="checkbox" name="radio" class="allTodo_radioCheck" v-model="item.completed"
                                    :id="item.id">
                                <span class="allTodo_checkmark"
                                    :class="{'allTodo_checkedCheckMark':item.completed}"></span>
                            </div>
                            <div class="allTodoTitle" :class="{'todoCompletedLine':item.completed}">
                                {{item.title}}</div>
                            <div class="playPreviewTodo"><a href="#" @click.prevent="deleteTodo(item)"><img
                                        src="img/delete_w.svg" alt="delete icon"></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="allTodoSec_closeBox">
                <a href="#" class="allTodoSec_closeBtn" @click.prevent="closeFoldedTodo"><i
                        class="material-icons allTodoSec_closeIcon">
                        close
                    </i></a>
                <div class="webLabel allTodoSec_webLabel">POMODORO</div>
            </div>
        </div>
    </div>
    <script src="js/all.js"></script>
</body>

</html>